{% extends "modelo.html" %}
{% block title %}Form Cliente{% endblock %}
{% block content %}
<h1>FORMULARIO CLIENTE</h1>
<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Código:</label>
            <input type="text" class="form-control" id="inputCodigo" placeholder="ID Cliente">
        </div>
        <div class="form-group col-md-6">
            <label for="inputName">Nome Cliente:</label>
            <input type="text" class="form-control" id="inputName" placeholder="Nome Cliente">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Endereço:</label>
            <input type="text" class="form-control" id="inputEndereço" placeholder="Endereço">
        </div>
        <div class="form-group col-md-6">
            <label for="inputNumero">Número:</label>
            <input type="password" class="form-control" id="inputNumero" placeholder="Número da casa">
        </div>
    </div>
    <div class="form-group">
        <label for="inputObs">Observação:</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="Observação">
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="inputCEP">CEP:</label>
            <input type="text" class="form-control" id="inputCEP" placeholder="CEP">
        </div>
        <div class="form-group col-md-4">
            <label for="inputBairro">Bairro:</label>
            <input type="text" class="form-control" id="inputBairro" placeholder="Bairro">
        </div>
        <div class="form-group col-md-4">
            <label for="inputCidade">Cidade:</label>
            <input type="text" class="form-control" id="inputCidade" placeholder="Cidade">
        </div>
        <div class="form-group col-md-2">
            <label for="inputState">Estado</label>
            <select id="inputState" class="form-control">
                <option selected>SC</option>
                <option>RS</option>
                <option>SP</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Telefone:</label>
            <input type="text" class="form-control" id="inputTelefone" placeholder="Telefone">
        </div>
        <div class="form-group col-md-6">
            <label for="inputEmail">Email:</label>
            <input type="text" class="form-control" id="inputEmail" placeholder="Email">
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
</form>
{% endblock %}