{% extends "modelo.html" %}
{% block title %}Form PEDIDO{% endblock %}
{% block content %}
<h1>FORMULARIO PEDIDO</h1>
<form>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label>Pedido:</label>
            <input type="text" class="form-control" id="inputCodigo" placeholder="ID Cliente">
        </div>
        <div class="form-group col-md-3">
            <label for="inputName">Telefone:</label>
            <input type="text" class="form-control" id="inputName" placeholder="Nome Cliente">
        </div>
        <div class="form-group col-md-3">
            <label for="inputName">Código Cliente:</label>
            <input type="text" class="form-control" id="inputName" placeholder="Nome Cliente">
        </div>
        <div class="form-group col-md-3">
            <label for="inputName">Nome Cliente:</label>
            <input type="text" class="form-control" id="inputName" placeholder="Nome Cliente">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label>Endereço:</label>
            <input type="text" class="form-control" id="inputCodigo" placeholder="ID Cliente">
        </div>
        <div class="form-group col-md-3">
            <label for="inputName">Número:</label>
            <input type="text" class="form-control" id="inputName" placeholder="Nome Cliente">
        </div>
        <div class="form-group col-md-3">
            <label for="inputName">CEP:</label>
            <input type="text" class="form-control" id="inputName" placeholder="Nome Cliente">
        </div>
        <div class="form-group col-md-3">
            <label for="inputName">Bairro:</label>
            <input type="text" class="form-control" id="inputName" placeholder="Nome Cliente">
        </div>
    </div>
    <div class="form-group">
        <label for="inputObs">Cidade:</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="Observação">
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Observação:</label>
            <input type="text" class="form-control" id="inputEndereço" placeholder="Endereço">
        </div>
        <div class="form-group col-md-6">
            <label for="inputNumero">Data/Hora:</label>
            <input type="password" class="form-control" id="inputNumero" placeholder="Número">
        </div>
    </div><br>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label>Produto:</label>
            <input type="text" class="form-control" id="inputCodigo" placeholder="ID Cliente">
        </div>
        <div class="form-group col-md-3">
            <label for="inputName">Descrição:</label>
            <input type="text" class="form-control" id="inputName" placeholder="Nome Cliente">
        </div>
        <div class="form-group col-md-3">
            <label for="inputName">Preço:</label>
            <input type="text" class="form-control" id="inputName" placeholder="Nome Cliente">
        </div>
        <div class="form-group col-md-3">
            <label for="inputName">Quantidade:</label>
            <input type="text" class="form-control" id="inputName" placeholder="Nome Cliente">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Total R$:</label>
            <input type="text" class="form-control" id="inputEndereço" placeholder="Endereço">
        </div>
        <div class="form-group col-md-6">
            <label for="inputNumero">Observação</label>
            <input type="password" class="form-control" id="inputNumero" placeholder="Número">
        </div>
    </div><br>

    <button type="submit" class="btn btn-primary">Salvar</button>
</form>
{% endblock %}