<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<style type="text/css">
    .important {
        color: rgb(235, 101, 23);
    }
</style>
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.3.1/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<body>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
          </ul>
        {% endif %}
        {% endwith %}
        {% block bloco %}
    <div class="container">
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">

                    <div class="col-12 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h2>Bem-Vindo</h2>
                                <hr />
                                <form class="form-sample" novalidate method="POST" action="">
                                    {{ form.csrf_token }}



                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <div class="col-sm-12">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <div class="col-sm-12">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group row">
                                                    <div class="col-sm-17">
                                                        {{ form.login.label }}
                                                        {{ form.login }}
                                                        {% if form.login.errors %}
                                                        {% for error in form.login.errors %}
                                                        {{ error }}
                                                        {% endfor %}
                                                        {% endif %}

    
                                                        {{ form.password.label }}
                                                        {{ form.password }}
                                                        {% if form.password.errors %}
                                                        {% for error in form.password.errors %}
                                                        {{ error }}
                                                        {% endfor %}
                                                        {% endif %}

    
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                        <div class="row">
                                            <div class="col-md-12" >
                                                <button type="submit"
                                                    class="btn btn-success mr-2"> Login</button>

                                            </div>
                                        </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>                            
    </div class="container">
    {% endblock bloco %}
</body>

</html>