<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <title>{% block title %}{% endblock %} - AbcBolinhas</title>
    <style type="text/css">
        .important {
            color: rgb(212, 108, 22);
        }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.3.1/css/bootstrap.min.css') }}">
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('home.home') }}">Python</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home.home') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('cliente.formListaClientes') }}">Clientes</a>

                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('produto.formListaProdutos') }}">Produtos</a>

                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('pedido.formListaPedidos') }}">Pedidos</a>

                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('bp_login.logoff') }}">Sair</a>
    
                </li>
        </div>
    </nav>

    <div class="container">
     <!--   <ul>            
            <li><a href="{{ url_for('cliente.formListaClientes') }}">Lista Clientes</a></li>           
            <li><a href="{{ url_for('pedido.formListaPedidos') }}">Lista Pedidos</a></li>
            <li><a href="{{ url_for('produto.formListaProdutos') }}">Lista Produtos</a></li>
        </ul>-->
        {% block content %}{% endblock %}
        {% block footer %}
        &copy; Copyright 2019 by <a href="http://127.0.0.1:5000/">Guilherme Zanella</a>.
        {% endblock %}
    </div>









    <script src="{{ url_for('static', filename='bootstrap-4.3.1/js/bootstrap.min.js') }}"></script>
</body>

</html>